# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from pathlib import Path
import numpy as np

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Upload credit_card_transactions.csv to Colab
#from google.colab import files

#csv_file = files.upload()

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(
    Path('Resources/applicants_data.csv')
)

# Review the DataFrame
# YOUR CODE HERE
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Review the data types associated with the columns
# YOUR CODE HERE
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
# YOUR CODE HERE
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes=='object'].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [8]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns=enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df

c:\Users\jmstr\anaconda3\envs\dev\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [63]:

# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df[list(applicant_data_df.dtypes[applicant_data_df.dtypes!='object'].index)], encoded_df], axis=1)

# Review the Dataframe
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,STATUS,ASK_AMT,IS_SUCCESSFUL,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,5000,1,1,5000,1,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,1,108590,1,1,108590,1,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,1,5000,0,1,5000,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,1,6692,1,1,6692,1,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,1,142590,1,1,142590,1,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,1,5000,0,1,5000,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,1,5000,0,1,5000,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,1,5000,0,1,5000,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,1,5000,1,1,5000,1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,1,36500179,0,1,36500179,0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [64]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y.head()

   IS_SUCCESSFUL  IS_SUCCESSFUL  IS_SUCCESSFUL
0              1              1              1
1              1              1              1
2              0              0              0
3              1              1              1
4              1              1              1

In [65]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X

,STATUS,ASK_AMT,STATUS,ASK_AMT,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,5000,1,5000,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,108590,1,108590,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,1,5000,1,5000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,6692,1,6692,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,142590,1,142590,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,1,5000,1,5000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,1,5000,1,5000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,1,5000,1,5000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,5000,1,5000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,1,36500179,1,36500179,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [66]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [67]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [68]:
# Define the the number of inputs (features) to the model
number_input_features = X.shape[1]

# Review the number of features
number_input_features

120

In [69]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [70]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = np.ceil(np.sqrt(number_input_features * number_output_neurons))

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

11.0

In [71]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  np.ceil(np.sqrt(hidden_nodes_layer1 * number_output_neurons))

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

4.0

In [72]:
# Create the Sequential model instance
nn = Sequential()

In [73]:
# Add the first hidden layer
nn.add(
    Dense(
        units=hidden_nodes_layer1,
        activation='relu',
        input_dim=number_input_features
    )
)

In [74]:
# Add the second hidden layer
nn.add(
    Dense(
        units=hidden_nodes_layer2,
        activation='relu'
    )
)

In [75]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(
    Dense(
        units=1,
        activation='sigmoid'
    )
)

In [76]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_11 (Dense)            (None, 11)                1331

 dense_12 (Dense)            (None, 4)                 48

 dense_13 (Dense)            (None, 1)                 5

=================================================================
Total params: 1,384
Trainable params: 1,384
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [77]:
# Compile the Sequential model
nn.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

In [78]:
# Fit the model using 50 epochs and the training data
nn_model=nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50

ValueError: in user code:

    File "c:\Users\jmstr\anaconda3\envs\dev\lib\site-packages\keras\engine\training.py", line 1051, in train_function  *
        return step_function(self, iterator)
    File "c:\Users\jmstr\anaconda3\envs\dev\lib\site-packages\keras\engine\training.py", line 1040, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "c:\Users\jmstr\anaconda3\envs\dev\lib\site-packages\keras\engine\training.py", line 1030, in run_step  **
        outputs = model.train_step(data)
    File "c:\Users\jmstr\anaconda3\envs\dev\lib\site-packages\keras\engine\training.py", line 890, in train_step
        loss = self.compute_loss(x, y, y_pred, sample_weight)
    File "c:\Users\jmstr\anaconda3\envs\dev\lib\site-packages\keras\engine\training.py", line 949, in compute_loss
        y, y_pred, sample_weight, regularization_losses=self.losses)
    File "c:\Users\jmstr\anaconda3\envs\dev\lib\site-packages\keras\engine\compile_utils.py", line 201, in __call__
        loss_value = loss_obj(y_t, y_p, sample_weight=sw)
    File "c:\Users\jmstr\anaconda3\envs\dev\lib\site-packages\keras\losses.py", line 139, in __call__
        losses = call_fn(y_true, y_pred)
    File "c:\Users\jmstr\anaconda3\envs\dev\lib\site-packages\keras\losses.py", line 243, in call  **
        return ag_fn(y_true, y_pred, **self._fn_kwargs)
    File "c:\Users\jmstr\anaconda3\envs\dev\lib\site-packages\keras\losses.py", line 1930, in binary_crossentropy
        backend.binary_crossentropy(y_true, y_pred, from_logits=from_logits),
    File "c:\Users\jmstr\anaconda3\envs\dev\lib\site-packages\keras\backend.py", line 5283, in binary_crossentropy
        return tf.nn.sigmoid_cross_entropy_with_logits(labels=target, logits=output)

    ValueError: `logits` and `labels` must have the same shape, received ((None, 1) vs (None, 3)).

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [ ]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(
                                        X_test_scaled,
                                        y_test,
                                        verbose=2
)
# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5521 - accuracy: 0.7301 - 663ms/epoch - 2ms/step
Loss: 0.5521183609962463, Accuracy: 0.7301457524299622

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [ ]:
# Set the model's file path
file_path = Path('Resources/AlphabetSoup.h5')


# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 2

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 8
# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

8

In [ ]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [ ]:
# First hidden layer
# YOUR CODE HERE
nn_A1.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))


# Output layer
nn_A1.add(Dense(units=hidden_nodes_layer2, activation="relu"))



# Check the structure of the model
nn_A1.add(Dense(units=1, activation="linear"))

In [ ]:
# Compile the Sequential model
nn_A1.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [ ]:
# Fit the model using 50 epochs and the training data
deep_net_model_1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.7178 - mse: 0.7178
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.2938 - mse: 0.2938
Epoch 3/50
804/804 [==============================] - 3s 4ms/step - loss: 0.2216 - mse: 0.2216
Epoch 4/50
804/804 [==============================] - 3s 3ms/step - loss: 0.2017 - mse: 0.2017
Epoch 5/50
804/804 [==============================] - 3s 4ms/step - loss: 0.1942 - mse: 0.1942
Epoch 6/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1903 - mse: 0.1903
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1890 - mse: 0.1890
Epoch 8/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1893 - mse: 0.1893
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1886 - mse: 0.1886
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1882 - mse: 0.1882
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1878 - mse: 0.1878
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1869 - mse: 0.1869
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1860 - mse: 0.1860
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1862 - mse: 0.1862
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1859 - mse: 0.1859
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1856 - mse: 0.1856
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1852 - mse: 0.1852
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1851 - mse: 0.1851
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1850 - mse: 0.1850
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1846 - mse: 0.1846
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1841 - mse: 0.1841
Epoch 22/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1843 - mse: 0.1843
Epoch 23/50
804/804 [==============================] - 3s 4ms/step - loss: 0.1841 - mse: 0.1841
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1841 - mse: 0.1841
Epoch 25/50
804/804 [==============================] - 3s 4ms/step - loss: 0.1838 - mse: 0.1838
Epoch 26/50
804/804 [==============================] - 3s 4ms/step - loss: 0.1837 - mse: 0.1837
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1837 - mse: 0.1837
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1837 - mse: 0.1837
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1839 - mse: 0.1839
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1834 - mse: 0.1834
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1834 - mse: 0.1834
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1832 - mse: 0.1832
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1833 - mse: 0.1833
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1832 - mse: 0.1832
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1829 - mse: 0.1829
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1830 - mse: 0.1830
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1831 - mse: 0.1831
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1831 - mse: 0.1831
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1829 - mse: 0.1829
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1830 - mse: 0.1830
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1827 - mse: 0.1827
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1825 - mse: 0.1825
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1826 - mse: 0.1826
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1826 - mse: 0.1826
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1827 - mse: 0.1827
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1825 - mse: 0.1825
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1825 - mse: 0.1825
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1827 - mse: 0.1827
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1826 - mse: 0.1826
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1824 - mse: 0.1824

#### Alternative Model 2

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 3

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = np.ceil(np.sqrt(number_input_features * number_output_neurons_A2))

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

19.0

In [ ]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [ ]:
# First hidden layer
nn_A2.add(
    Dense(
        units=hidden_nodes_layer1,
        activation='relu',
        input_dim=number_input_features
    )
)

# Output layer
nn_A2.add(
    Dense(
        units=1,
        activation='sigmoid'
    )
)

# Check the structure of the model
# YOUR CODE HERE
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 11)                1287

 dense_1 (Dense)             (None, 4)                 48

 dense_2 (Dense)             (None, 1)                 5

=================================================================
Total params: 1,340
Trainable params: 1,340
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
# YOUR CODE HERE
nn_A2.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

In [ ]:
# Fit the model
# YOUR CODE HERE
nn_A2_model=nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.6108 - accuracy: 0.7048
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5626 - accuracy: 0.7294
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5556 - accuracy: 0.7299
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7301
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5511 - accuracy: 0.7303
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7308
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7308
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7308
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7311
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7311
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7323
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7320
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7327
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7321
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7321
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7324
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7328
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7326
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7329
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7325
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7327
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7327
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7320
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7326
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7330
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7326
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7325
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7318
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7330
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7338
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7325
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7327
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7329
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7314
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7331
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7333
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7334
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7329
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7331
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7334
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5428 - accuracy: 0.7334
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7329
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7322
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7334
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7328
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7329
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7327
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7325
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7336
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7339

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [ ]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(
                                        X_test_scaled,
                                        y_test,
                                        verbose=2
)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 1s - loss: 0.1856 - mse: 0.1856 - 612ms/epoch - 2ms/step
Loss: 0.18562866747379303, Accuracy: 0.18562866747379303

In [ ]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =  nn_A2.evaluate(
                                        X_test_scaled,
                                        y_test,
                                        verbose=2
)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 1s - loss: 0.5691 - accuracy: 0.7312 - 595ms/epoch - 2ms/step
Loss: 0.5691389441490173, Accuracy: 0.731195330619812

In [ ]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(
                                        X_test_scaled,
                                        y_test,
                                        verbose=2
)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5691 - accuracy: 0.7312 - 476ms/epoch - 2ms/step
Loss: 0.5691389441490173, Accuracy: 0.731195330619812

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = file_path = Path('Resources/AlphabetSoup_nn_A1.h5')


# Export your model to a HDF5 file
# YOUR CODE HERE]
nn_A1.save(file_path)

In [ ]:
# Set the file path for the second alternative model
file_path = Path('Resources/AlphabetSoup_nn_A2.h5')


# Export your model to a HDF5 file
nn_A2.save(file_path)